<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-info" [routerLink]="['/provedor-form']">Nuevo Provedor</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
          <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Email</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let provedor of provedores">
            <td>{{provedor.id}}</td>
            <td>{{provedor.nombre}}</td>
            <td>{{provedor.apellido}}</td>
            <td>{{provedor.edad}}</td>
            <td>{{provedor.email}}</td>
            <td><button [routerLink]="['/provedor-form', provedor.id]" class="btn btn-info">Editar</button></td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
