<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="formGroupProvedor">
        <div class="form-group">
          <input type="text" formControlName="id" [hidden]="true">
        </div>
        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text" formControlName="nombre" class="form-control">
          <div class="alert alert-danger" *ngIf="formGroupProvedor.get('nombre').hasError('required') && (formGroupProvedor.get('nombre').touched || formGroupProvedor.get('nombre').dirty)">
            El campo es requerido
          </div>
        </div>
        <div class="form-group">
          <label for="">Apellido</label>
          <input type="text" formControlName="apellido" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Edad</label>
          <input type="text" formControlName="edad" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input type="text" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
          <button class="btn btn-success" (click)="guardarProvedor(formGroupProvedor.value)" *ngIf="!formGroupProvedor.value.id else update">Guardar</button>
        </div>
        <ng-template #update>
          <div class="form-group">
            <button class="btn btn-info" (click)="updateProvedor(formGroupProvedor.value)">Editar</button>
          </div>
        </ng-template>
      </form>
    </div>
  </div>
</div>
