<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="formGroupDatosFiscales">
        <div class="form-group">
          <label for="">Cliente</label>
          <select formControlName="id" class="form-control">
            <option [value]="cliente.id" *ngFor="let cliente of clientes">{{cliente.nombre}}</option>
          </select>
        </div>
        <input [hidden]="true" type="text" formControlName="bandera">
        <div class="form-group">
          <label for="">Rfc</label>
          <input type="text" class="form-control" formControlName="rfc">
        </div>
        <div class="form-group">
          <label for="">Curp</label>
          <input type="text" class="form-control" formControlName="curp">
        </div>
        <div class="form-group">
          <button class="btn btn-success" (click)="guardarDatosFiscales(formGroupDatosFiscales.value)" *ngIf="!formGroupDatosFiscales.value.bandera else update">Guardar Datos Fiscales</button>
        </div>
        <ng-template #update>
          <div class="form-group">
            <button class="btn btn-warning" (click)="updateDatosFiscales(formGroupDatosFiscales.value)">Actualizar Datos Fiscales</button>
          </div>
        </ng-template>
      </form>
    </div>
  </div>
</div>
